<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include menu %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%if(locals.user){ %>
      <p><a href="/saveInfo">去写信息吧</a> </p>
      <% } %>
  </body>
</html>
